
/**
 * Print CSS - Supra - DNIT
 * @version         1.0
 * @lastmodified    22.09.2018
 * @Autor           Gustavo Costa
**/

@media print {

    @page { 
        margin: 0 
    }

    @page land {
        size: landscape;
    }

    * {
        background:transparent !important;
        color:#000 !important;
        text-shadow:none !important;
        filter:none !important;
        -ms-filter:none !important;
    }

    body {
        margin: 0;
        font: 12pt Arial, Georgia, "Times New Roman", Times, serif;
        line-height: 1.3;
        background: #fff !important;
        color: #000;
        -webkit-print-color-adjust: exact; 
    }

    .sheet {
        margin: 0;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
        page-break-after: always;
    }

    /** Padding **/
    .sheet.padding-10mm { padding: 10mm }
    .sheet.padding-15mm { padding: 15mm }
    .sheet.padding-20mm { padding: 20mm }
    .sheet.padding-25mm { padding: 25mm }

    .sheet.fullpage {
        margin-left: 0mm !important;
        margin-right: 0mm !important;
        text-align: left;
    }

    /** Paper sizes **/
    body.A3               .sheet { width: 297mm; height: 419mm }
    body.A3.landscape     .sheet { width: 420mm; height: 296mm }
    body.A4               .sheet { width: 210mm; height: 296mm }
    body.A4.landscape     .sheet { width: 297mm; height: 209mm }
    body.A5               .sheet { width: 148mm; height: 209mm }
    body.A5.landscape     .sheet { width: 210mm; height: 147mm }
    body.letter           .sheet { width: 216mm; height: 279mm }
    body.letter.landscape .sheet { width: 280mm; height: 215mm }
    body.legal            .sheet { width: 216mm; height: 356mm }
    body.legal.landscape  .sheet { width: 357mm; height: 215mm }

    .landscape {
        display: block;
        float: none;
        /* writing-mode: tb-rl; */
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        /* white-space: nowrap; */
        /* width: auto !important;
        height: 100%; */
        height: auto;
        margin: 180px 0px !important;
    }

    .gantt{        
        border: 0px solid #ddd !important;
    }

    .bottom{
        display: none !important;
    }

    .fn-content{
        font-size: 8px !important;
        width: 950px !important; 
        min-height: 830px !important;
        top: 18px !important;
        border: 0px solid #ddd;
        position: relative;        
        left: 0px !important;  
    }

    .fn-gantt .rightPanel .month, 
    .fn-gantt .rightPanel .year, 
    .fn-gantt .wd, 
    .fn-gantt .sa, 
    .fn-gantt .sn,
    .fn-gantt .leftPanel .name, 
    .fn-gantt .leftPanel .desc,
    .fn-gantt .spacer{
        background-color: #f6f6f6 !important;
        -webkit-print-color-adjust: exact !important; 
    }

    .fn-gantt .today{
        background-color: antiquewhite !important; 
        -webkit-print-color-adjust: exact !important; 
    }

    /** capa **/
    section #capa {
        background: linear-gradient(90deg, white 20%, #015175 20%) !important; 
        -webkit-print-color-adjust: exact !important; 
    }

    .title-capa {
        text-align: left;
        font-weight: bold;
        margin: 50% 20%;
        color: white !important; 
        -webkit-print-color-adjust: exact !important; 
    }

    section h1, .h1 {
        font-size: 75px;
        color: white !important; 
        -webkit-print-color-adjust: exact !important; 
    }

    .title-capa p {
        color: white !important; 
        -webkit-print-color-adjust: exact !important; 
    }

    .logo-capa{
        width: 17%;
        right: 85%;
        margin-top: 50%;
        position: absolute;
    }

    .paginacao{
        height: 20px;
        position: absolute;
        bottom: 10px;
        right: 25px;
        font-size: 12px;
    }

    /** graficos **/
    .border-title h2, .h2{
        font-size: 25px;
    }

    .border-title p{
        margin: 2px !important;
    }

    .leg-filtros{
        font-size: 10px !important;
        position: absolute;
        top: -15px;
    }

    .graf{
        height: 50px !important; 
    }

    .indicadores{
        text-align: left;
        top: 30px;
    }

    .indicadores p{
        font-size: 15px;
    }

    .indicadores span{
        font-size: 45px;
        font-weight: bold;
        width: 100px;
        display: inline-block;
    }   

    .pendentes{
        color: #cece86 !important;
        -webkit-print-color-adjust: exact !important; 
    }

    .andamento{
        color: #67d7af !important;
        -webkit-print-color-adjust: exact !important; 
    }

    .concluidas{
        color: #7b9bd2 !important;
        -webkit-print-color-adjust: exact !important; 
    }

    .paralisadas{
        color: #dda02f !important;
        -webkit-print-color-adjust: exact !important; 
    }

    .table-cabecalho{
        font-size: 12px !important;
        background-color: #7cb5ec !important;
        color: white !important;
        -webkit-print-color-adjust: exact !important; 
    }

    .table tbody tr td{
        font-size: 10px !important;
        padding:2px;
        margin:0;
    }

   /* #container_01, #container_02{
        position: relative !important;
        right: 56px !important;
    }*/

    /** relatorio **/
    .text-relatorio h3{
        font-size: 20px !important; 
    }

    .text-relatorio p{
        font-size: 12px !important; 
    }

    .bold{
        font-weight: bold !important;
    }

    .timeline{
        font-size: 10px !important; 
    }

    .timeline > li > .timeline-item > .time {
        color: #999;
        float: right;
        padding: 5px;
        font-size: 10px;
    }
    .timeline > li > .timeline-item > .timeline-body, .timeline > li > .timeline-item > .timeline-footer {
        padding: 5px;
    }

    .legPendente{
        border-radius: 50%;
          display: -webkit-inline-flex;
          height: 15px;
          width: 15px;
          background-color: #ffffd9 !important; 
          -webkit-print-color-adjust: exact !important; 
      }
      .legAndamento{
        border-radius: 50%;
          display: -webkit-inline-flex;
          height: 15px;
          width: 15px;
          background-color: #adfde1 !important; 
          -webkit-print-color-adjust: exact !important; 
      }
      .legConcluida{
        border-radius: 50%;
          display: -webkit-inline-flex;
          height: 15px;
          width: 15px;
          background-color: #bfd7ff !important; 
          -webkit-print-color-adjust: exact !important; 
      }
    .legParalisada{
        border-radius: 50%;
        display: -webkit-inline-flex;
        height: 15px;
        width: 15px;
        background-color: #ffe7bb !important; 
        -webkit-print-color-adjust: exact !important; 
    }

    .font-legenda{
        font-size: 10px !important; 
    }

    .box-message{
        top: 10px;
        position: relative;
        font-size: 10px !important; 
    }

    .box-alert{
        font-size: 12px !important; 
    }
}


/** preview **/
@media screen {

  body { background: #e0e0e0 }

  .sheet {
    background: white;
    box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
    margin: 5mm auto;
  }


}






/*

Para referência:



    Pixels => Points
    6px => 5pt
    7px => 5pt
    8px => 6pt
    9px => 7pt
    10px => 8pt
    11px => 8pt
    12px => 9pt
    13px => 10pt
    14px => 11pt
    15px => 11pt
    16px => 12pt
    17px => 13pt
    18px => 14pt
    19px => 14pt
    20px => 15pt
    21px => 16pt
    22px => 17pt
    23px => 17pt
    24px => 18pt




*/