/* =============================================================================
Login Supra
Gustavo Costa

v1.1
Junho/2017
========================================================================== */

html,
body {
    width: 100%;
    height: 100%;
    overflow: hide;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background: #111;
    /* background-image: url('estrada.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat; */
}

body {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.15);
}

body::after {
    content: "";
    background-image: url('imgs/fundo-3.jpg');
    /* opacity: 0.8;
    filter: alpha(opacity=80); */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

canvas {
    display: block;
    vertical-align: bottom;
}

#particles-js {
    width: 100%;
    height: 100%;
}

.conteudo {
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    width: 95%;
    margin: 0 auto;
    min-height: 300px;
}

.conteudo-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.logos {
    margin-bottom: 50px;
}

.logo {
    display: table-cell;
    vertical-align: bottom;
    height: 130px;
    text-align: center;
}

.logo img {
    vertical-align: bottom;
    margin: 0 auto;
    max-width: 250px;
    width: 100%;
}

.lista ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.lista ul li {
    text-align: left;
    margin-bottom: 3px;
    color: #fff;
    font-size: 15px;
}

.conteudo .btn {
    margin-bottom: 20px;
}

.conteudo .btn .fa {
    margin-top: 5px;
    margin-right: 0;
}

.trio-logos {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 70%;
    margin: 0;
}

.p-cidadao {
    position: absolute;
    left: 10px;
    bottom: 5px;
    width: auto;
    margin: 0;
}

.p-cidadao a {
    padding-left: 35px;
    background-image: url('imgs/ico-cidadao.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 30px auto;
    text-indent: -500px;
    color: #fff;
}

.p-cidadao a:hover,
.p-cidadao a:focus {
    color: #fff;
}

#login-box {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 90%;
    min-height: 352px;
    padding: 20px 10px 16px 10px;
    color: #ebebeb;
    background-image: url('imgs/tec-22.jpg');
    background-size: cover;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #666;
    border-bottom: 2px solid #fff;
    animation-duration: 0.6s;
    animation-delay: 0.1s;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-delay: 0.1s;
    -moz-animation-duration: 0.6s;
    -moz-animation-delay: 0.1s;
}

#login-box img,
#acesso-box img {
    border: none;
}

#login-box h2,
#acesso-box h2 {
    padding: 0;
    margin: 0;
    color: #ebebeb;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 20px;
}

#login-box label,
#acesso-box label {
    font-weight: normal;
}

#login-box .form-control,
#acesso-box .form-control {
    border: 1px solid #0d2c52;
    background-color: #fff;
    color: #1e4f8a !important;
}

#login-box .input-group-addon,
#acesso-box .input-group-addon {
    border: 1px solid #0d2c52;
    background-color: #1e4f8a;
    color: #fff !important;
}

#login-box a,
#login-box .btn-link {
    color: #fff;
}

#acesso-box {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 90%;
    max-width: 600px;
    padding: 10px 0;
    color: #fff;
    background-color: #efefef;
    background-image: url('imgs/tec-22.jpg');
    background-size: cover;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #666;
    border-bottom: 2px solid #fff;
    animation-duration: 0.6s;
    animation-delay: 0.1s;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-delay: 0.1s;
    -moz-animation-duration: 0.5;
    -moz-animation-delay: 0.1s;
}

#acesso-box a,
#acesso-box .btn-link {
    color: #fff;
    font-weight: 600;
    text-decoration: underline;
}

#acesso-box .form {
    /* max-height: 400px; */
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px 20px;
}

#acesso-box .mensagem-acesso {
    padding: 10px 20px;
}

#acesso-box p {
    color: #fff;
}

#video-box {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 90%;
    max-width: 600px;
    padding: 10px;
    color: #ebebeb;
    background-color: rgba(0, 0, 0, 0.15);
    /* background-image: url("video/tec-15.jpg"); */
    background-size: cover;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #666;
    border-bottom: 2px solid #fff;
    animation-duration: 0.6s;
    animation-delay: 0.1s;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-delay: 0.1s;
    -moz-animation-duration: 0.6;
    -moz-animation-delay: 0.1s;
}

video {
    width: 100% !important;
    height: auto !important;
    background-color: #333;
}

.btn.shadow {
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color=#333)";
    -moz-box-shadow: 1px 2px 1px #222;
    -webkit-box-shadow: 1px 2px 1px #222;
    box-shadow: 1px 2px 1px #222;
}

.btn-close {
    display: block;
    float: right;
    padding: 2px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    color: #111;
    font-size: 1.2em;
    text-align: center;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color=#333)";
    -moz-box-shadow: 1px 2px 1px #222;
    -webkit-box-shadow: 1px 2px 1px #222;
    box-shadow: 1px 2px 1px #222;
}

#login-box .btn-close {
    margin: -30px -20px 0 0;
}

#video-box .btn-close {
    margin: -20px -25px 0 0;
}

#acesso-box .btn-close {
    margin: -20px -10px 0 0;
}

#login-box .hidden,
#acesso-box .hidden,
#video-box .hidden {
    top: -500px;
}

.msg-erro,
.msg-sucesso,
.btn-tentar {
    display: none;
}

h4#messagem,
.btn-tentar {
    margin: 30px;
}
 

#imgdiv img {
    width: 100%;
    height: auto;
}



/*==========================================================================================================*/

@media only screen and (min-width: 768px) {
    .conteudo {
        top: 20%;
        width: 60%;
        margin: 0 auto;
        min-height: 300px;
    }
    .conteudo .btn {
        margin-bottom: 0;
    }
    .trio-logos {
        width: 30%;
    }
    .p-cidadao a {
        text-indent: 0px;
    }
    #login-box {
        top: 20%;
        max-width: 400px;
        height: 352px;
        padding: 20px 30px 10px 30px;
    }
    #login-box .btn-close {
        margin: -30px -40px 0 0;
    }
    #video-box {
        min-height: 300px;
        padding: 20px;
    }
    #video-box .btn-close {
        margin: -30px -30px 0 0;
    }
    .logo img {
        max-width: 315px;
    }
    .p-cidadao {
        bottom: 10px;
    }
}

@media only screen and (min-width: 450px) and (max-width: 767px) and (orientation:landscape) {
    body,
    body::after {
        min-height: 510px;
    }
    #login-box {
        top: 20%;
        max-width: 350px;
        height: 352px;
        padding: 20px 30px 10px 30px;
    }
    .trio-logos {
        position: relative;
        right: 5px;
        left: 25%;
        bottom: 10px;
        width: 70%;
        margin: 15px 0;
    }
    .logos {
        margin-bottom: 20px;
    }
    .p-cidadao {
        position: relative;
        width: 50px;
        bottom: -50px;
    }
}

@media only screen and (min-width: 992) {
    .conteudo {
        top: 30%;
        margin: 0 auto;
        min-height: 300px;
    }

    #video-box {
        top: 25%;
    }

    /* #acesso-box .form {
        max-height: 500px;
    } */
}

@media only screen and (min-width: 1200px) {
    .conteudo {
        width: 50%;
        margin: 0 auto;
        min-height: 300px;
    }
    .logo {
        height: 180px;
    }
    #video-box {
        max-width: 800px;
    }
}