body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #47a3da;
    /* background-color: #f4f6f9 !important; */
    background-image: url('../img/login-tela-interna-n-c.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-size: 14px;
    line-height: 1.42857143;
  }
  
  .content-wrapper {
      padding: 0 20px;
      padding-top: 85px !important;
      background: none;
      background-color: transparent !important;
  }
  
  /*----------------------BLUR CSS----------------------*/
  
  
  .headerPrincipal{
      /* background-color: #343a40; */
      /* background-color: #015175; */
      /* box-shadow: 0 3px 30px rgba(0, 0, 0, 0.25), 0 3px 3px rgba(0, 0, 0, 0.22); */
      /* background-color: rgba(0, 0, 0, 1); */
      top: 0; 
      z-index: 1030;  
      width: 100%;
      min-width: 320px;
      position: fixed;
      height: 70px;
      /* border-bottom: 1px solid #555; */
  }
  
  .headerPrincipal.header-black {
      background-color: rgba(0, 0, 0, .8);
      border-bottom: 1px solid #ccc;
  }
  
  .logo-supra {
      display: inline-block;
      width: 185px;
      height: auto;
      margin-top: 13px;
      margin-left: 37px;
      margin-right: 5px;
  }
  
  .logo-supra img {
      width: 100%;
      height: auto;
  }
  
  .titulo-logo {
      display: inline-block;
      margin: 10px 5px;
      font-size: 14px;
      color: #fff;
  }
  
  .menu-user {
      margin: 15px 15px 0 0;
  }
  
  .content-header h1 {
      font-size: 1.8rem;
      margin: 0;
      color: #333;
  }
  
  .content-header .link-voltar {
      display: block;
      width: 150px;
      color: #555 !important;
      text-decoration: none;
  }
  
  .content-header .link-voltar:hover {
      color: #000 !important;
  }
  
  .content-header .link-voltar .fa {
      display: inline-block;
      margin-right: 5px;
      font-size: 20px;
  }
  
  .breadcrumb .breadcrumb-item a{
      color: #555;
      text-decoration: underline;
  }
  
  .breadcrumb .breadcrumb-item.active{
      color: #333;
      text-decoration: none;
  }
  
  .card.card-box {
      background-color: transparent;
      /* border: 1px solid #ccc; */
      box-shadow: none !important;
  }
  
  .card.card-box > .card-header {
      border-bottom: 1px solid #ccc !important;
      background-color: transparent !important;
  }
  
  .card.card-box > .card-body {
      flex: 1 1 auto;
      padding: 1.25rem 5px;
  }
  
  .card.card-box .card .card-header {
      background-color: #fff;
  }
  
  .nav-pills .nav-link {
      border-radius: 0 !important;
      background-color: transparent !important;
      margin-bottom: -11px;
  }
  
  .nav-pills .nav-link {
      color: #555;
  }
  
  
  .nav-pills .nav-link:hover {
      color: #000 !important;
  }
  
  .nav-pills .nav-link.active, 
  .nav-pills .show > .nav-link {
      color: #000 !important;
      background-color: transparent !important;
      border-radius: 0 !important;
      border-bottom: 5px solid #000;
  }
  
  .menu-right {
      position: fixed;
      top: 80px;
      bottom: 0;
      right: -61px;
      height: 100%;
      z-index: 999;
      -webkit-transition: all .5s linear;
      -moz-transition: all .5s linear;
      -ms-transition: all .5s linear;
      -o-transition: all .5s linear;
      transition: all .5s linear;
  }
  
  .menu-right.open {
      right: 0px;
  }
  
  .menu-right .nav-right {
      position: relative;
      padding-left: 30px;
      border-radius: 5px 0 0 5px;
  }
  
  .menu-right .nav-right .nav-right-aba {
      position: absolute;
      top: 45%;
      left: -33px;
      display: block;
      width: 100px;
      text-align: center;
      color: #fff;
      font-size: 14px;
      padding: 3px;
      background-color: #333;
      border: 1px solid #444;
      border-bottom-color: #333;
      border-radius: 5px 5px 0 0;
      transform: rotate(-90deg);
      cursor: pointer;
  }
  
  .menu-right.open .nav-right .nav-right-aba {
      color: #333;
      background-color: #fff;
      border: 1px solid #444;
      border-bottom-color: #fff;
  }
  
  .menu-right .nav-right ul {
      list-style: none;
      padding: 5px;
      border: 1px solid #444;
      border-radius: 5px 0 0 5px;
      background-color: rgba(255, 255, 255, 1);
  }
  
  .menu-right .nav-right ul li {
      border-bottom: 1px solid #666;
  }
  
  .menu-right .nav-right ul li:last-child {
      border-bottom: none;
  }
  
  .menu-right .nav-right ul li a {
      display: block;
      padding: 10px;
      position: relative;
      font-size: 14px;
      color: #444;
  }
  
  .menu-right .nav-right ul li a .cbp-ig-icon {
      padding: 0 !important;
      color: #444;
  }
  
  .menu-right .nav-right ul li a:hover {
      background-color: rgba(0, 0, 0, .8);
  }
  
  .menu-right .nav-right ul li a:hover .cbp-ig-icon {
      color: #fff;
  }
  
  
  .menu-right .nav-right ul li a .cbp-ig-icon:before {
      font-family: 'icomoon';
      font-size: 30px !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      opacity: 1 !important;
  }
  
  .menu-right .nav-right ul li a .nav-right-title {
      display: none;
      position: absolute;
      color: #fff;
      left: -150px;
  }
  
  .nav-card ul li {
      display: inline;
      margin: 0 5px;
  }
  
  .nav-card ul li a {
      color: #555;
  }
  
  .nav-card ul li a:hover {
      color: #000;
  }
  
  @media (max-width: 767px){

      .headerPrincipal{
          height: 125px !important;
      }  
  
      .sidebar {
          padding-top: 45px !important;
      }
  
      .content-wrapper {
          margin-top: 10% !important;
      }
  
  }
  
  .progress-bar.active, .progress.active .progress-bar {
      -webkit-animation: progress-bar-stripes 2s linear infinite;
      -o-animation: progress-bar-stripes 2s linear infinite;
      animation: progress-bar-stripes 2s linear infinite;
  }
  
  .sidebar-dark-primary {
      background-color: #023f5a !important;
  }
  
  .titulo {
      font-size: 20px; 
      top: 35px; 
      position: relative;
      color:white;
  }
  
  @media (max-width: 1185px){
      .titulo {
          font-size: 15px; 
          top: 35px; 
          position: relative;
          color:white;
      }
  }
  
  .main-sidebar, .left-side {
      left: 0;
      padding-top: 85px !important;
      min-height: 100%;
      width: 230px;
      -webkit-transition: -webkit-transform .3s ease-in-out, width .3s ease-in-out;
      -moz-transition: -moz-transform .3s ease-in-out, width .3s ease-in-out;
      -o-transition: -o-transform .3s ease-in-out, width .3s ease-in-out;
      transition: transform .3s ease-in-out, width .3s ease-in-out;
  }
  
  .nav-sidebar .nav-treeview {
      background-color: rgba(0,0,0,.2);
  }
  
  .modal-lg {
      max-width: 1200px !important;
  }
  
  .modal-header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 1rem;
      border-bottom: 1px solid #e9ecef;
      border-top-left-radius: 0rem  !important;
      border-top-right-radius: 0rem  !important;
      background: #015175 !important;
      color: white !important;
  }
  
  .modal-header button{
      color: white !important;
  }
  
  .btnDownloadJPG {
      margin-right: 19px;
  }
  
  /* Absolute Center Spinner */
  .loading {
      position: fixed;
      z-index: 9999999999999;
      height: 2em;
      width: 2em;
      overflow: show;
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
  }
  
      /* Transparent Overlay */
      .loading:before {
          content: '';
          display: block;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0,0,0,0.3);
      }
  
      /* :not(:required) hides these rules from IE9 and below */
      .loading:not(:required) {
          /* hide "loading..." text */
          font: 0/0 a;
          color: transparent;
          text-shadow: none;
          background-color: transparent;
          border: 0;
      }
  
          .loading:not(:required):after {
              content: '';
              display: block;
              font-size: 10px;
              width: 1em;
              height: 1em;
              margin-top: -0.5em;
              -webkit-animation: spinner 1500ms infinite linear;
              -moz-animation: spinner 1500ms infinite linear;
              -ms-animation: spinner 1500ms infinite linear;
              -o-animation: spinner 1500ms infinite linear;
              animation: spinner 1500ms infinite linear;
              border-radius: 0.5em;
              -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
              box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
          }
  
  /* Animation */
  @-webkit-keyframes spinner {
      0% {
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
      }
  
      100% {
          -webkit-transform: rotate(360deg);
          -moz-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          -o-transform: rotate(360deg);
          transform: rotate(360deg);
      }
  }
  
  @-moz-keyframes spinner {
      0% {
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
      }
  
      100% {
          -webkit-transform: rotate(360deg);
          -moz-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          -o-transform: rotate(360deg);
          transform: rotate(360deg);
      }
  }
  
  @-o-keyframes spinner {
      0% {
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
      }
  
      100% {
          -webkit-transform: rotate(360deg);
          -moz-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          -o-transform: rotate(360deg);
          transform: rotate(360deg);
      }
  }
  
  @keyframes spinner {
      0% {
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
      }
  
      100% {
          -webkit-transform: rotate(360deg);
          -moz-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          -o-transform: rotate(360deg);
          transform: rotate(360deg);
      }
  }
  
  /* Menu top - Organizador Processos */
  .top-bar{
        top: 85px;
        position: relative;
        margin-left: 0px !important;
        margin-bottom: 30px;
      }
  
      @media (max-width: 767px){
        .top-bar{
        top: 140px;
        position: relative;
        margin-left: 0px;
        margin-bottom: 30px;
      }
  
    }
  
    footer {
      padding: 5px;
    }
  
    footer.footer-body {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
  
    .main-footer {
      padding: 15px;
      color: #555;
      border-top: 1px solid #dee2e6;
      background: transparent !important;
    }
  
    .main-footer a {
        color: #fff;
    }
  
  